DATABASE_URL_MASTRA=postgresql://postgres:postgres@localhost:5432/mastra_db
MASTRA_API_URL=http://localhost:4111
RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
